# PNPM / Node
.pnpm-store/
node_modules/
.pnp/
.pnp.js

# Builds / caches
dist/
apps/*/dist
coverage/
.nx/
.eslintcache
.next/
out/
*.tsbuildinfo

# Env
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*

# IDE / SO
.vscode/
.idea/
.DS_Store